<?xml version="1.0"?>

<model>
  <name>Piso de patio con piedras</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Antoniño de Atocha</name>
    <email>alopez@cua.uam.mx</email>
  </author>

  <description>
    Piso de jardín del HomeDepot :)
  </description>
</model>


