<?xml version="1.0"?>

<model>
  <name>Cerebral carpet large</name>
  <version>1.0</version>
  <sdf version='1.6'>cerebral_carpet_large.sdf</sdf>

  <author>
    <name>Antonio LJ</name>
    <email>alopez@cua.uam.mx</email>
  </author>

  <description>
    Un tapetote de CEREBRAL
  </description>
</model>
